# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Local environment files
.env

# Figures
figs/
